@media (max-width: 510px) and (min-width: 220px) {
  .description__text {
    font-size: calc(14px + (21 - 14) * ((100vw - 320px) / (510 - 320)));
  }
  .description__title {
    font-size: calc(28px + (40 - 28) * ((100vw - 320px) / (510 - 320)));
    max-width: 50%;
  }
  .description__subtitle {
    left: 45%;
  }
  .block-text__board {
    display: none;
  }
  .cover-text {
    margin: 10px 5px 10px 15px;
    font-family: "RobotoRegular";
    font-weight: 400;
    font-style: normal;
    font-size: calc(14px + (21 - 14) * ((100vw - 320px) / (510 - 320)));
  }
  .cover-list__block-image {
    display: none;
  }
  .cover-list__block-menu {
    min-height: calc(750px + (450 - 750) * ((100vw - 320px) / (510 - 320)));
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback__form {
    content: '';
    width: 100%;
    position: relative;
    top: 0px !important;
    left: 5px;
  }
  .cover-text_botton {
    display: none;
  }
  .item__block-namber {
    background-color: transparent;
    border: none;
  }
  .block-menu__list {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .cover-arrow {
    display: none;
  }
  .prices-examples__title {
    font-size: 28px;
  }
  .prices-examples__title_two {
    display: none;
  }
  .prices-examples__title_three {
    display: none;
  }
  .prices-examples__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
    margin-left: 15px;
  }
  .prices-examples__text {
    margin-left: 0px;
    max-width: 90vw;
  }
}
