@charset "UTF-8";
@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), url("../fonts/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular.woff") format("woff");
}

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), url("../fonts/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold.woff") format("woff");
}

@font-face {
  font-family: "EuphoriaScript";
  font-style: normal;
  font-weight: 400;
  src: local("Euphoria Script"), url("../fonts/EuphoriaScriptRegular.woff2") format("woff2"), url("../fonts/EuphoriaScriptRegular.woff") format("woff");
}

body {
  font-family: "RobotoRegular";
}

.cover {
  margin-top: 200px;
  min-height: 1145px;
}

.conteiner {
  max-width: 1685px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.cover-header {
  width: 100%;
  height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.cover-header__block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 450px;
  margin: auto 0;
  background-color: #FFFFFF;
}

.cover-header__image {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.block-text__description {
  min-height: 450px;
  max-width: 760px;
}

.block-text__description p {
  margin-left: 75px;
  margin-top: 42px;
  color: #404A54;
}

.description__title {
  font-family: 'RobotoBold';
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
}

.description__title p {
  color: #007E82;
}

.description__subtitle {
  font-family: 'RobotoBold';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.description__text {
  font-size: 21px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #404A54;
  margin-right: 222px;
}

.cover-text {
  font-family: "RobotoBold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #404A54;
  text-transform: uppercase;
  max-width: 1218px;
  margin: 62px auto;
}

.cover-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cover-list__block-menu {
  width: 1525px;
  height: 255px;
  background-color: #404A54;
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.block-menu__item {
  margin-top: 35px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__block-namber {
  min-width: 69px;
  height: 53px;
  background: #007E82;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "EuphoriaScript";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.item__block-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  color: #FFFFFF;
  margin-right: 20px;
  margin-left: 10px;
}

.item__block-text span {
  color: #F4A251;
}

.block-list__feedback {
  width: 445px;
  min-width: 445px;
}

.feedback__text {
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  padding: 22px 60px 20px 60px;
}

.feedback__form {
  width: 340px;
  margin-left: 52px;
}

.cover-arrow {
  text-align: center;
}

.prices-examples {
  margin-top: 80px;
}

.prices-examples__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 1fr;
      grid-template-rows: auto auto 1fr;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
      grid-template-areas: "header notepad" "slaider-menu notepad" "slaider notepad";
}

.prices-examples__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  margin-left: 90px;
}

.prices-examples__title {
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  color: #007E82;
  text-transform: uppercase;
}

.prices-examples__title_two {
  opacity: 0.6;
  margin-left: 30px;
}

.prices-examples__title_three {
  opacity: 0.3;
  margin-left: 60px;
}

.prices-examples__text {
  margin-left: 33px;
  margin-right: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 110%;
  color: #404A54;
}

.prices-examples__notepad {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: notepad;
  min-height: 700px;
  width: 700px;
  height: 967px;
  right: 0;
  background-color: #404A54;
  position: relative;
  z-index: -1;
}

.prices-examples__slaider {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: slaider;
  margin-right: 45px;
  position: relative;
  padding: 0px 0px;
  min-width: 0;
}

.prices-examples__slaider img {
  width: 100%;
  height: 100%;
}

.prices-examples__slaider-menu {
  margin-top: 90px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: slaider-menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slaider-menu__button {
  width: 110px;
  height: 50px;
  border: 1px solid black;
}

.slaider-menu__button button {
  min-width: 100%;
  min-height: 100%;
  font-family: "EuphoriaScript";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #FFFFFF;
}

.block__text-two {
  display: none;
}

.prices-examples__slaider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  z-index: 10;
  font-size: 0;
  width: 50px;
  height: 100px;
}

.prices-examples__slaider .slick-arrow::after {
  display: none;
}

.prices-examples__slaider .slick-arrow.slick-prev {
  left: 10px;
  background: url("/img/finished/2-prices-and-examples/left-arrow.svg") 0 0/100% no-repeat;
}

.prices-examples__slaider .slick-arrow.slick-next {
  right: 10px;
  background: url("/img/finished/2-prices-and-examples/right-arrow.svg") 0 0/100% no-repeat;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка не активная */
.page__image {
  margin-top: 25px;
}

.page__image img {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.page__title {
  margin-top: 510px;
  margin-left: 83px;
  line-height: 55px;
  font-weight: 700;
  font-size: 55px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.page__arrow {
  margin-top: 50px;
  margin-left: 83px;
}

.page__block-image {
  position: absolute;
  width: 116px;
  height: 32px;
  right: 0;
  bottom: 55px;
  border: 1px solid #F4A251;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hanger {
  margin-top: 75px;
}

.hanger__image {
  width: 100%;
  height: 65px;
}

.hanger__image img {
  width: 100%;
  height: 100%;
}

.flip-chart__board {
  position: relative;
  width: 100%;
  background-color: #404A54;
  margin-top: 30px;
  min-height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flip-chart__board_two {
  min-height: 1400px;
}

.flip-chart__clip {
  content: '';
  position: absolute;
  top: -32.5px;
  width: 100%;
  height: 100%;
}

.flip-chart__clip_one {
  left: 55px;
}

.flip-chart__clip_two {
  left: 95.5%;
}

.flip-chart__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 26%;
          flex: 1 1 26%;
  margin-top: 90px;
  margin-left: 90px;
}

.flip-chart__title {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.flip-chart__title_two {
  font-size: 40px;
}

.flip-chart__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 50px;
}

.flip-chart__subtitle span {
  margin-top: 30px;
  display: block;
  padding-right: 240px;
}

.flip-chart__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 74%;
          flex: 1 1 74%;
}

.flip-chart__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  margin-top: 22px;
  min-height: 80%;
}

.flip-chart__list_two {
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
}

.flip-chart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  padding-right: 90px;
}

.flip-chart__logo img {
  width: 55px;
  height: 55px;
}

.flip-chart__description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  color: #FFFFFF;
  margin-left: 35px;
}

.flip-chart__description h3 {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 110%;
  text-transform: uppercase;
  color: #F4A251;
}

.flip-chart__description span {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 15px;
  line-height: 15px;
  display: block;
}

.flip-chart__description a {
  font-size: 14px;
  opacity: 0.8;
  color: #C3E4F7;
  text-decoration: underline;
}

.flip-chart__footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  color: #FFFFFF;
  margin-top: 58px;
  max-width: 950px;
  margin-left: 85px;
}

.flip-chart__rectangle {
  position: absolute;
  width: 116px;
  height: 32px;
  right: 0;
  bottom: 55px;
  border: 1px solid #F4A251;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.find-price__block {
  min-height: 965px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.find-price__board {
  background-color: #404A54;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43%;
          flex: 0 1 43%;
  position: relative;
}

.find-price__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 57%;
          flex: 0 1 57%;
}

.find-price__image img {
  width: 100%;
  height: 100%;
}

.find-price__rectangle {
  position: absolute;
  width: 116px;
  height: 32px;
  left: 0;
  bottom: 55px;
  border: 1px solid #F4A251;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.find-price__clip {
  content: '';
  position: absolute;
  top: 25px;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.find-price__clip img {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 10px;
}

.board__text {
  color: #FFFFFF;
  margin-top: 80px;
  margin-left: 90px;
  font-family: "RobotoBold";
}

.board__title {
  max-width: 220px;
  font-size: 55px;
  line-height: 100%;
  text-transform: uppercase;
}

.board__subtitle {
  margin-top: 80px;
  font-size: 18px;
  line-height: 20px;
  max-width: 500px;
}

.board__subtitle span {
  margin-top: 20px;
  display: block;
  text-transform: uppercase;
}

.board__subtitle p {
  font-family: "RobotoRegular";
  font-size: 20px;
  margin-top: 40px;
  line-height: 22px;
}

.board__button {
  margin-top: 60px;
  width: 385px;
  height: 35px;
}

.board__button button {
  font-family: 'RobotoBold';
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #007E82;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}

.office__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 967px;
  margin-top: 90px;
}

.office__feedback {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 57%;
          flex: 1 1 57%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.office__board {
  background-color: #404A54;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43%;
          flex: 0 1 43%;
  position: relative;
}

.feedback__title {
  font-family: 'RobotoRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  text-align: center;
  color: #404A54;
  margin: 176px 200px 0px 200px;
}

.feedback__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 713px;
  min-height: 615px;
  margin-top: 40px;
}

.feedback__block-form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-form__image {
  min-height: 372px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-form__subtitle {
  font-family: 'RobotoRegular';
  font-size: 20px;
  line-height: 110%;
  text-align: center;
  color: #404A54;
  margin-top: 20px;
  height: 30px;
  margin: 20px 20px 0px 20px;
}

.block-form__button {
  margin-top: 60px;
  width: 220px;
  height: 35px;
  text-align: center;
}

.block-form__button button {
  font-family: 'RobotoBold';
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #007E82;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}

.board__paragraf {
  font-family: 'RobotoRegular';
  font-size: 20px;
  line-height: 110%;
  max-width: 550px;
}

.board__image {
  margin-top: 60px;
  max-width: 550px;
}

.board__image img {
  width: 100%;
  height: 100%;
}

.board__telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.board__telephone h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.telephone__image {
  padding-right: 20px;
}

.rectangle {
  position: absolute;
  width: 116px;
  height: 32px;
  bottom: 55px;
  border: 1px solid #F4A251;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rectangle_office {
  right: 0;
}

.clip {
  content: '';
  position: absolute;
  top: 25px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.clip img {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 10px;
}

.clip_office {
  left: 0;
}
