@media (max-width: 370px){
	.flip-chart{
		&__text{
			flex-direction: column;
		}
	}
	.board{
		&__button {
			&_example-project{
				button{
				font-size: 14px;
				}
			}
		}
	}
}

@media (max-width: 320px){


    .description {
        &__text {
            font-size: 14px !important;
        }
    }

    .block-text {
		&__board {
            display: none;
		}
    }

    .cover-text {
        // margin: 10px 5px 10px 5px;
        font-family: "Roboto";
        font-weight: 400;
    }

    .cover-list {
		// display: flex;
		// .cover-list__block-image

		&__block-image {
            display: none;
        }
    }

    .cover-list {

		&__block-menu {
			// width: 100%;
			min-height: calc(750px + (450 - 750) * ((100vw - 320px) / (510 - 320)));
			// background-color: #404A54;
			// margin-left: 0px;
			// padding-right: 40px;
			// display: flex;
			flex-direction: column;
		}

	}

    .feedback {

		// .feedback__text

		&__text {
			// font-size: 20px;
			// text-align: center;
			// color: #FFFFFF;
			// padding: 22px 40px 20px 40px;

		}

		// .feedback__form

		&__form {
			// content: '';
			// width: 100%;
			// position: relative;
			// top: 0px !important;
			// left: 5px;

		}
	}

    .cover-text {
		&_botton{
			// margin: 500px 0px 10px 5px;
			// max-width: 100%;
			// transform: translateX(0%);
			// text-align: center;
            display: none;

		}
	}

    .item {

		// .item__block-namber

		&__block-namber {


			background-color: transparent;
			border: none;

			// font-size: 48px;
			// font-style: normal;
			// font-weight: 400;
			// line-height: 53px;
			// letter-spacing: 0em;
			// text-align: center;
			// color: #FFFFFF;
		}
    }

    .block-menu {

		// .block-menu__list

		&__list {
			padding-left: 15px !important;
			padding-right: 15px !important;

		}
    }
    .cover-arrow {
		display: none;
	}


}